[Desktop Entry]
Type=Application
Name=鸡你太美
Exec=plotjuggler
Icon=plotjuggler
Comment=多通道测量与设备配置平台
Terminal=false
Categories=Development;
StartupWMClass=jinitaimei
Name[en_US]=鸡你太美
Name[zh_CN]=鸡你太美
